header {
  font-size: x-large;
}

body {
  margin: 25px;
}

table {
  width: 35em;
}

td {
  padding: 0px;
}

blockquote {
  max-width: 550px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:link, a:visited {
  color: #0645AD;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #1b66e3;
  background-color: transparent;
  text-decoration: none;
}