header {
  font-size: x-large;
}

table {
  width: 35em;
}

td {
  padding: 10px;
}

blockquote {
  max-width: 550px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 